#wrapper{
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
 	 Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			margin: 30px 20px;
	}



[aria-controls="menu-list"] {
    display: none;
}

@media only screen and (max-width: 1150px){
	[aria-controls="menu-list"]{
	display:block;
	margin-bottom: 10px;
}

.menu{
	perspective: 800px;
}
.menu ul {
    max-height: 0;
    overflow: hidden;
    
    transition: all 0.5s;
}

[aria-expanded="false"] .close{
	display: none;
}

[aria-expanded="true"] .open{
	display: none;
}

[aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    
}

}


p{
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.menu ul{
	display: grid;
	padding-inline-start:0px;
	list-style: none;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

}
.menu a{
	text-decoration: none;
}
body{
	background-image: linear-gradient(110deg, #f93d66, #6d47d9);



}

button {
    background: #ffc600;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
 	 margin: 5px;
    text-decoration: none;
}

#first{
	display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "section-top-a section-top-a one"
        "section-top-a section-top-a two";
	
}


.section-top-a{
	min-height: 450px;
	float: left;
	background-image: url("./assign-images/taco.jpg");
	background-size: cover;
	background-position: bottom right;
	
}
.section-top{
	display: grid;
	background: #ffc600;
	align-items: center;
   text-align: center;
   align-content: center;
    
}

.section-top-a{
	grid-area: section-top-a;	
}

.section-top .one{
	grid-area: one;	
}

.section-top .two{
	grid-area: two;
}




#section-top-b, #section-top-c{
	width: 300px;
	height: 170px;
	background-color: #ffc600;
	text-align: center;
	}
#section-top-c{
	margin-top: 110px;
}
 
 .section-top .price{
 	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
 	 Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 	font-size: 60px;
 	font-weight: 300;
 }

.section-top .item-name{
	font-weight: 300;
	font-size: 15px;
	letter-spacing: -1px;
}

.texts{
font-weight: bold;
margin-left: 20px;

}
.h1-text{
	padding: 5px;
	background-color: #ffc600;
	display: inline-block;
font-size: 2em;
margin-top: 80px;

}
.p-text{
	

	background-color: #ffc600;
	
}



.grid-container{
	
	display: grid;
	grid-gap:20px;
 	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-item{
	margin:  20px 0px;
	text-align: center;	
	border: 1px solid blue;
	background-color: white;
	padding: 10px;
}
.feature-icon{
	padding-top: 20px;
	font-weight: bold;
	font-size: 50px;
}

.about-featured{
	display: grid;
	
	grid-template-columns: 400px 1fr;
	background-color: white;
	padding: 25px;


}
.btn{
	background-color: #ffc600;
	padding: 8px;
	font-weight: bold;
	font-size: 18px;
}

.featured-details{
	display: block;
	padding-left: 20px;
	font-weight: bold;
	font-size: 18px;

}
.featured-image{
	padding-left: 35px;
}


.gallery{
		
    	display: grid;
	    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

	    grid-gap: 20px;
}

.gallery img{
	width: 100%;
	height: 200px;
}

img{
	max-width: 100%;
}


.bfr-aftr h2:before{
	display: block;
    content: '';
    height: 10px;
    background: linear-gradient(110deg, #e2da91, #f93d66);
}


.bfr-aftr h2:after{
	display: block;
    content: '';
    height: 10px;
    background: linear-gradient(110deg, #f93d66, #e2da91);
}




    

@media only screen and (max-width: 700px){
	#first{

		grid-template-areas: 
		"section-top-a section-top-a "
		"one two";
	}

	.about-featured{
		grid-template-columns:1fr; 
	}
}


@media only screen and (max-width: 500px){


	*{
		padding: 0px 5px;
	}
	#first{
		grid-template-areas: 
		"section-top-a"
		"one"
		"two";

	}



	.gallery{
		grid-column-gap: 50px;
		width: 100%;
		height: 900px;

}


}

    @media (max-width: 1000px){
    .menu{
    	perspective:800px;


    }
    .nav{
    	display: block;
    }
    .grid-item{
    	display: block;
    }
}